html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: .75em;
  margin: 0;
  background-color: #fff;
}

h1 {
color: #623b0c;
font-family: "Denk One", sans-serif;
}

h2 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
}

ol {
  display: grid;
}

li{
  display: flex;
  flex-direction: column;
  background: #ede3db;
}

a {
  background: #623b0c;
  color: #fff;

}

img {
  width: 100%;
  display: block;
}

ul {
  grid-column: auto;
}

p {
  padding-top: .4rem;
  padding-bottom: .4rem;
}
