html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: .75em;
  margin: 0;
  background-color: #fff;
}

h1 {
color: #623b0c;
font-family: "Denk One", sans-serif;
}
